// Settings
$enable-validation-icons: false; //input field icon off
$enable-negative-margins: true;

// Default & New variables (fonts & colors)
//$font-size-base: 0.85rem;
$font-family-base: "Inter", sans-serif;

$form-check-input-checked-bg-color: #000; //toggle button background shall be black
$nav-pills-link-active-bg: #efefee;
$nav-pills-link-active-color: #92918f;
$nav-link-color: #92918f;
$nav-pills-border-radius: 0;

// First override some or all individual color variables
// $primary: #fdb90d;
$secondary: #6c757d;
$success: #87c12f;
// $info: #0dcaf0;
// $warning: #ffc107;
$danger: #ff7425;
// $light: #f8f9fa;
// $dark: #212529;

// add custom color
$no-bank-primary: #06232d;
$no-bank-highlight: #ffb78e;
$no-bank-white: #fff;
$no-bank-blue: #00042c;
$no-bank-black: #000;
$no-bank-silver: #bbb;
$no-bank-hovergrey: #f4f4f4;

$no-bank-grayscale-platin: #efefee;
$no-bank-grayscale-titanium: #e5e4e2;
$no-bank-grayscale-silver: #cac9c7;
$no-bank-grayscale-iron: #92918f;
$no-bank-grayscale-slate: #322f31;

$no-bank-secondary-yellow-green: #bdd62f;
$no-bank-secondary-lemon: #f0f729;
$no-bank-secondary-turquoise-green: #b4e1b9;

$enable-negative-margins: true;

$custom-colors: (
  "no-bank-primary": $no-bank-primary,
  "no-bank-highlight": $no-bank-highlight,
  "no-bank-blue": $no-bank-blue,
  "no-bank-black": $no-bank-black,
  "no-bank-silver": $no-bank-silver,
  "no-bank-white": $no-bank-white,
  "no-bank-grayscale-platin": $no-bank-grayscale-platin,
  "no-bank-grayscale-titanium": $no-bank-grayscale-titanium,
  "no-bank-grayscale-silver": $no-bank-grayscale-silver,
  "no-bank-grayscale-iron": $no-bank-grayscale-iron,
  "no-bank-grayscale-slate": $no-bank-grayscale-slate,
  "no-bank-secondary-yellow-green": $no-bank-secondary-yellow-green,
  "no-bank-secondary-lemon": $no-bank-secondary-lemon,
  "no-bank-secondary-turquoise-green": $no-bank-secondary-turquoise-green,
  "no-bank-hovergrey": $no-bank-hovergrey,
);

.font-sm {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

.cancel-col-padding {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}

// Helpers import
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// merge theme colors with custom colors
$theme-colors: map-merge($custom-colors, $theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// New classes
@each $key, $value in $grays {
  .bg-gray-#{$key} {
    background-color: $value !important;
  }

  .text-gray-#{$key} {
    color: $value !important;
  }
}

// Finish
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
